<ion-view title="Agregar Producto" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="agregarProducto-form7" class="list">
            <label class="item item-input" id="agregarProducto-input0" name="idNuevoProd">
                <span class="input-label">ID del producto</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.idNuevoProd">
            </label>
            <label class="item item-input" id="agregarProducto-input1" name="nombreNuevoProd">
                <span class="input-label">Nombre del producto</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.nombreNuevoProd">
            </label>
            <label class="item item-input" id="agregarProducto-input4" name="precioNuevoProd">
                <span class="input-label">Precio</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.precioNuevoProd">
            </label>
		    <input type="hidden" readonly placeholder="" id ="foto">
	        <br>
            	<div style="text-align:center">
            	<img id="imgPic"  ng-model="pic" />
            	</div>
            <button id="agregarProducto-button6" class="button button-positive  button-block" ng-click="agregarProductoCtrl.foto()" >Sacar Foto</button>
            <label class="item item-input" id="agregarProducto-input2" name="unidadNuevoProd">
                <span class="input-label">Unidad</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.unidadNuevoProd">
            </label>
            <label class="item item-input" id="agregarProducto-input3" name="cantidadNuevoProd">
                <span class="input-label">Cantidad</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.cantidadNuevoProd">
            </label>
        </form>
        <button id="agregarProducto-button7" class="button button-positive  button-block" ng-click="agregarProductoCtrl.submitProducto()" >Guardar Producto</button>
    </ion-content>
</ion-view>
