<ion-view title="Consulte Producto" id="page4">
    <ion-content  style="background: url(img/compProd.jpg) center; background-size: cover;" padding="true" class="has-header">
        <form id="consulteProducto-form5" class="list">
            <label class="item item-input" id="consulteProducto-input1" name="precioCarga">
                <span class="input-label"name="precio">Precio</span>
                <input type="text" placeholder="Ingrese el precio" ng-model="consulteProductoCtrl.precioCarga">
            </label>
        </form>
        <a id="consulteProducto-button4" class="button button-positive  button-block" ng-click="consulteProductoCtrl.submitBarCode()">Escanear Codigo</a>
    </ion-content>
</ion-view>
