<ion-view title="Producto" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="producto-form6" class="list">
            <label class="item item-input" id="producto-input0" name="idProd">
                <span class="input-label"name="descripcion">ID</span>
                <input type="text" placeholder="" ng-model="productoCtrl.idProd">
            </label>
            <label class="item item-input" id="producto-input1" name="nombreProd">
                <span class="input-label"name="descripcion">Nombre</span>
                <input type="text" placeholder="" ng-model="productoCtrl.nombreProd">
            </label>
            <label class="item item-input" id="producto-input2" name="precioProd">
                <span class="input-label"name="precioProd">Precio</span>
                <input type="text" placeholder="" ng-model="productoCtrl.precioProd">
            </label>
            <span class="item" name="imagenProd">Imagen
              <img ng-src="{{productoCtrl.foto}}" style="width: 100%" src="" id="img"/>
            </span>
            <label class="item item-input" id="producto-input3" name="unidadProd">
                <span class="input-label"name="unidadProd">Unidad</span>
                <input type="text" placeholder="" ng-model="productoCtrl.unidadProd">
            </label>
            <label class="item item-input" id="producto-input4" name="cantidadProd">
                <span class="input-label"name="unidadProd">Cantidad</span>
                <input type="text" placeholder="" ng-model="productoCtrl.cantidadProd">
            </label>
            <label class="item item-input" id="producto-textarea6" name="comparacionProd">
                <span class="input-label">Otras Ofertas</span><textarea placeholder=""ng-model="productoCtrl.comparacionProd"></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>
