<ion-view title="Seleccione SuperMercado" id="page3">
    <ion-content style="background: url(img/Kwik-E-Mart.png) center; background-size: cover;" padding="true" class="has-header">
        <form id="seleccioneSuperMercado-form4" class="list">
            <label class="item item-input item-select" name="supers">
                <span class="input-label">Seleccione Supermercado</span>
                <select
                         ng-model="seleccioneSuperMercadoCtrl.selectedValue"
                         ng-options="super.nombre for super in seleccioneSuperMercadoCtrl.marketList" class="form-control">
                </select>
            </label>
        </form>
        <a id="seleccioneSuperMercado-button3" class="button button-positive  button-block" ng-click="seleccioneSuperMercadoCtrl.submit()">Comparar producto</a>
    </ion-content>
</ion-view>
