<ion-view title="SuperMarket" id="page1">
    <ion-content style="background: url(img/selectSuper.jpg) center; background-size: cover;" padding="true" class="has-header">
        <a id="superMarket-button1" class="button button-positive  button-block" ng-click="superMarketCtrl.selSuperMercado()">Seleccionar SuperMercado</a>
        <a id="superMarket-button2" class="button button-positive  button-block" ng-click="superMarketCtrl.addSuperMercado()">Cargar SuperMercado</a>
    </ion-content>
</ion-view>