<ion-view title="Agregar SuperMercado" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="agregarSuperMercado-form3" class="list">
            <label class="item item-input" id="agregarSuperMercado-input1" name="nombreSuper">
                <span class="input-label">Nombre del Super</span>
                <input type="text" placeholder="" ng-model="agregarSuperMercadoCtrl.nombreSuper">
            </label>
            <label class="item item-input" id="agregarSuperMercado-input2" name="direccionSuper">
                <span class="input-label">Dirección</span>
                <input type="text" placeholder="" ng-model="agregarSuperMercadoCtrl.direccionSuper">
            </label>
            <label class="item item-input item-select" name="provinciaSuper">
                <span class="input-label">Seleccione Provincia</span>
                <select
                        ng-model="agregarSuperMercadoCtrl.provinciaSuperSelectedValue"
                        ng-options="provincia.provincia for provincia in agregarSuperMercadoCtrl.provinciasList" class="form-control">
                </select>
            </label>
            <label class="item item-input item-select" name="localidadSuper">
                <span class="input-label">Seleccione Localidad</span>
                <select
                        ng-model="agregarSuperMercadoCtrl.localidadSuperSelectedValue"
                        ng-options="localidad.localidad for localidad in agregarSuperMercadoCtrl.localidadesList | filter:{id_provincia: agregarSuperMercadoCtrl.provinciaSuperSelectedValue.id_provincia}" class="form-control">
                </select>
            </label>
        </form>
        <button id="agregarSuperMercado-button7" class="button button-positive  button-block" ng-click="agregarSuperMercadoCtrl.submit()">Guardar</button>
    </ion-content>
</ion-view>