<ion-view title="Agregar Producto" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="agregarProducto-form7" class="list">
            <label class="item item-input" id="agregarProducto-input1" name="nombreNuevoProd">
                <span class="input-label">Nombre del producto</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.nombreNuevoProd">
            </label>
            <label class="item item-input" id="agregarProducto-input2" name="descripcionNuevoProd">
                <span class="input-label">Unidad</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.descripcionNuevoProd">
            </label>
            <label class="item item-input" id="agregarProducto-input3" name="unidadNuevoProd">
                <span class="input-label">Unidad</span>
                <input type="text" placeholder="" ng-model="agregarProductoCtrl.unidadNuevoProd">
            </label>
        </form>
        <button id="agregarProducto-button6" class="button button-positive  button-block" ng-click="agregarProductoCtrl.submitFoto()" >Sacar Foto y Guardar</button>
    </ion-content>
</ion-view>