<ion-view title="Producto" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="producto-form6" class="list">
            <label class="item item-input" id="producto-input1" name="descripcionProd">
                <span class="input-label"name="descripcion">Descripción</span>
                <input type="text" placeholder="" ng-model="productoCtrl.descripcion">
            </label>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
            <label class="item item-input" id="producto-input2" name="precioProd">
                <span class="input-label"name="precioProd">Precio</span>
                <input type="text" placeholder="" ng-model="productoCtrl.precioProd">
            </label>
            <label class="item item-input" id="producto-input3" name="unidadProd">
                <span class="input-label"name="unidadProd">Precio</span>
                <input type="text" placeholder="" ng-model="productoCtrl.unidadProd">
            </label>
            <label class="item item-input" id="producto-textarea6" name="comparacionProd">
                <span class="input-label">Otras Ofertas</span><textarea placeholder=""ng-model="productoCtrl.comparacionProd"></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>