<ion-view title="SuperMarketConfig" id="page0">
    <ion-content padding="true" class="has-header">
        <label class="item item-input" id="superMarketConfig-input1" name="ipServer">
            <span class="input-label"name="ipServer">Ip Server</span>
            <input type="text" placeholder="Ingrese la ip del servidor: Ej: 1.1.1.1" ng-model="superMarketConfigCtrl.ipServer">
        </label>
        <a id="superMarketConfig-button1" class="button button-positive  button-block"  ng-click="superMarketConfigCtrl.submitIpServer()">Cargar Ip Servidor</a>
    </ion-content>
</ion-view>